Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans :- Data is nothing but information that is collected in various formats such as numbers, text, media, and others. In the context of computing, data can be converted into a binary digital form that enables flexibility to be moved around and processed efficiently. For example, pwskills can have data such as the name, age, and educational qualification of its students, details of the various courses it offers, etc.
A database is a systematic or organized collection of related information that is stored in such a way that it can be easily accessed, retrieved, managed, and updated. It is where all data is stored, very much like a library that houses a wide range of books from different genres. Think of data as books.

In a database, we can organize the data in rows and columns in the form of a table. Indexing the data makes it easy to find and retrieve it again as and when required. Many websites on the World Wide Web are managed with the help of databases. To create a database so that the data is accessible to users through only one set of software programs, database handlers are used.

MySQL, SQL Server, MongoDB, Oracle Database, PostgreSQL, Informix, Sybase, etc. are all examples of different databases. These modern databases are managed by DBMS. Structured Query Language, or SQL as it is more widely known, is used to operate on the data in a database.

SQL databases :-
Type :-
SQL databases are classified as Relational databases, i.e., RDBMS.
Language :-
SQL databases use standard Structured Query Languages, as the name suggests.
SQL is an industry-standard and very powerful language to execute complex queries.
Scalability :-
SQL databases can extend their capacity on a single server by increasing their RAM, CPU or SSD.
SQL databases are scalable vertically, as their storage could be increased for the same server by enhancing their storage components.
Schema :-
SQL databases have a fixed, pre-defined schema, which makes the data storage more rigid, static, and restrictive.
Internal implementation :-
SQL follows ACID (Atomicity, Consistency, Isolation and Durability) properties for its operations.
Data Storage :-
SQL databases can only be run on a single system and because of this, they don’t follow the distribution of data and hence they don’t support hierarchical storage of data.
Type of Data :-
SQL databases are table-based databases which makes them better for multi-row transaction applications.
Performance and suitability :-
SQL databases are best suited for complex queries but are not preferred for hierarchical large data storage.
Examples :-
SQL databases are implemented in both open source and commercial databases such as like Postgres & MySQL as open source and Oracle and Sqlite as commercial.

NoSQL databases :-
Type :-
NoSQL databases are known as non-relational or distributed database.
Language :-
NoSQL database has dynamic schema for unstructured data. The data stored in a NoSQL database is not structured.
Data could be stored as document-oriented, column oriented, graph-based or organized as a Key-Value store. The syntax can vary from database to database.
Scalability :-
In order to increase the capacity of a NoSQL database, you would have to install new servers parallel to the parent server.
NoSQL databases are horizontally scalable which means they can easily handle more traffic by adding new servers to the database, which makes them a great choice for large and constantly changing databases.
Schema :-
NoSQL databases don’t have a pre-defined schema, which makes them schema-less and more flexible.
Internal implementation :-
NoSQL is based on CAP (Consistency, Availability, and Partition Tolerance).
Data Storage :-
NoSQL Databases can run on multiple systems, and hence, they support data distribution features like data repetition, partition, etc., making them the best option for hierarchical storage of data.
Type of Data :-
NoSQL is document-based, key-value pair, and graph databases, which makes them better when there are a lot of changes in the data.
Performance and suitability :-
NoSQL databases are not so good for complex queries because these are not as powerful as SQL queries but are best suited for hierarchical large data storage.
Examples :-
NoSQL is purely open source. Some of its famous implementation are MongoDB, BigTable, Redis, RavenDB, Cassandra, Hbase, Neo4j, and CouchDB.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans :- DDL is used as an abbreviation for Data Definition Language. DDL refers to a computer language that is primarily used for creating as well as modifying the structure of the database objects present in a database. Such database objects include indexes, tables, schemas, views, and many more.

DDL is also referred to as a data description language in certain contexts since it describes the records and fields in the DB (database) tables.
The current database industry basically incorporates DDL into the formal language that describes data. However, DDL is often considered a subset of Structured Query Language or SQL. Now, SQL often makes use of imperative verbs, along with normal English (like sentences) in order to implement database modifications. Thus, DDL doesn’t really show up to be a different language in the database of SQL, but it does define all the changes present in the DB schema.

It is mainly used to modify and establish the structure of the objects present in a database by dealing with the database schema descriptions. Unlike DML (data manipulation language) commands that we use for data modification, DDL commands are actually used to alter the structure of the database, like creating new objects or tables along with their attributes (table name, data type, etc.).

CREATE, DROP, ALTER, and TRUNCATE are commonly used in Data Definition Languages in SQL querying. Let’s discuss these in detail.

CREATE :-
The CREATE command builds a new table. It has a predefined syntax, and the CREATE statement syntax goes like this:

CREATE TABLE [name_of_table] ([definitions_of_column]) [parameters_of_table];

For instance,

CREATE TABLE Student (Student Id INTEGER PRIMARY KEY, Name CHAR (50) NULL, Nickname CHAR (75) NOT NULL);

Here, the semi-colon used at the end of the statement is mandatory, and it is used to process every command before it. So, in the example mentioned above, we are trying to specify the data type using the string CHAR. Visit to learn more about the CREATE statement here. Various other data types are NUMBER, INTEGER or DATE.

DROP :-
The DROP command is used in order to delete objects, like a table, view or index. We cannot rollback the DROP statement. Thus, once a certain object is destroyed, there would be no way at all to recover it.

The syntax of the DROP statement is:

DROP type_of_object name_of_object;

For instance,

DROP TABLE Student;

We have deleted the Employee table in this example.

ALTER :-
The alter command modifies any existing table in a database. The Alter command can add up an additional column, drop the existing columns and even change the data types of various columns involved in a DB table. Read more on the ALTER command here.

The syntax of an ALTER command is:

ALTER type_of_object name_of_object parameters;

For instance,

ALTER TABLE Student ADD PRIMARY KEY (student_pk);

In this example, we have added the unique primary key to this table. It adds a constraint and enforces a unique value. Here, the constraint “student_pk” is the primary key, and it is on the Student table.

TRUNCATE :-
Just like the DROP statement, the TRUNCATE statement is mainly used to remove all the records from a table quickly. However, unlike the DROP statement that destroys a table completely, the TRUNCATE statement preserves the full structure so as to be reused later.

The syntax of the TRUNCATE statement is:

TRUNCATE TABLE name_of_table;

For instance,

TRUNCATE TABLE Student;

In the example given here, we have marked all the extents in the Employee table for deallocation. This way, they are considered empty for us to reuse.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans :- A DML (data manipulation language) refers to a computer programming language that allows you to add (insert), delete (delete), and alter (update) data in a database. A DML is typically a sublanguage of a larger database language like SQL, with the DML containing some of the language’s operators. A DML (data manipulation language) is a group of computer languages that provide commands for manipulating data in databases.
The majority of SQL statements are categorised as DML (Data Manipulation Language), which includes SQL commands that deal with modifying data in a database. It’s the section of the SQL statement that controls who has access to the database and data. DML statements and DCL statements are grouped together. Because the DML command isn’t auto-committed, it won’t be able to save all database changes permanently. There’s a chance they’ll be rolled back.

Here are some different DML commands:-

INSERT :-
This command can be used to insert data into a row of a table. INSERT INTO would insert the values that are mentioned in the ‘Student’ table below.

Syntax:
INSERT INTO NAME_OF_TABLE (1_column, 2_column, 3_column, …. N_column)

VALUES (1_value, 2_value, 3_value, …. N_value);

Or

INSERT INTO NAME_OF_TABLE

VALUES (1_value, 2_value, 3_value, …. N_value);

Example:
INSERT INTO Student(Stu_Name, DOB, Phone, Mail)

VALUES(‘Phoebe’, ‘1998-05-26’, 7812865845, ‘user@xyz.com’);

UPDATE :-
This statement in SQL is used to update the data that is present in an existing table of a database. The UPDATE statement can be used to update single or multiple columns on the basis of our specific needs.

Syntax:
UPDATE name_of_table SET 1_coumn = 1_value, 2_coumn = 2_value, 3_coumn = 3_value, … , N_coumn = N_value

WHERE condition;

And here,

name_of_table: name of the table

1_column, 2_column, 3_column, …. N_column: name of the first, second, third, …. nth column.

1_value, 2_value, 3_value, …. N_value: the new value for the first, second, third, …. nth column.

condition: the condition used to select those rows for which the column values need to be updated.

Example:
UPDATE Student SET Phone = 9039462901 WHERE Stu_Name = ’Phoebe’;

The WHERE clause in the preceding query is used to select the rows for which the columns need to be adjusted, and the SET statement has been used to assign new values to a particular column. If the WHERE clause is not used at all, then all of the rows’ columns will be modified. As a result, the WHERE clause is used to pick specific rows from the table.

Thus, the example query would update the phone number of the student with the name ‘Phoebe’.

DELETE :-
The DELETE statement can be used in SQL to delete various records from a given table. On the basis of the condition that has been set in the WHERE clause, one can delete single or multiple records.

Syntax:
DELETE FROM name_of_table [WHERE condition];

Example:
DELETE FROM Student WHERE Stu_Name = ’Phoebe’;

The command given above would delete the record for the student with the name ‘Phoebe’ from the ‘Student’ table. Apart from this, one can also use the LOCK Table statement to explicitly acquire the shared or exclusive table lock on a specified table.

Q4. What is DQL? Explain SELECT with an example.

Ans :- Query languages, often known as DQLs or Data Query Languages, are computer languages that are used to make various queries in information systems and databases. The Structured Query Language (SQL) is a well-known example. DQL statements are used to query the data contained in schema objects. The primary goal of the DQL Command is to return a schema relation depending on the query supplied to it.
The DQL statements can be used in order to query the data and information contained in schema objects. The goal of the DQL Commands is to return a schema relation on the basis of the query supplied to them.
DQL is a portion of a SQL statement that allows us to get and organise data from a database. we can use the SELECT command to extract data from a database in order to perform actions on it. It is the same as the projection operation in relational algebra. The result of a SELECT statement on a table or collection of tables is compiled into a new temporary table, which is subsequently displayed or received by a program, i.e. a front-end.

The chosen clause, which would be the first and one of the last clauses of a select statement, is examined by the database server. The reason for this is that before we can determine what to include in the final result set, we need to know all the alternative columns that can be included.

Syntax
SELECT expression FROM table_x WHERE code_conditions;

Example
SELECT Stu_Name FROM Student WHERE Phone = 9039462908;

The command given above would select the record from the table ‘Student’ where the phone number is ‘9039462908’.

Q5. Explain Primary Key and Foreign Key.

Ans :- Primary Key :-
A Primary Key is the minimal set of attributes of a table that has the task to uniquely identify the rows, or we can say the tuples of the given particular table.

A primary key of a relation is one of the possible candidate keys which the database designer thinks it's primary. It may be selected for convenience, performance and many other reasons. The choice of the possible primary key from the candidate keys depend upon the following conditions.
Play Video

Minimal: The primary key should be composed of the minimum number of attributes that satisfy unique occurrences of the tuples. So if one candidate key is formed using two attributes and another using a single attribute then the one with the single attribute key should be chosen as the primary key.
Accessible: The primary key used should be accessible by anyone who wants to use it. The user must easily insert, access or delete a tuple using it.
NON NULL Value: The primary key must have a non-null value for each tuple of the relation, which is required for the identification of the tuple.
Time Variant: The values of the primary key must not change or become null during the time of a relation.
Unique: The value of the primary key must not be duplicated in any of the tuples of a relation.
Syntax for creating primary key constraint:
The primary key constraint can be defined at the column level or table level.

At column level:

<column_name><datatype> Primary key;  
At table level:

Primary key(<column_name1>[,column_name>]....);  
    
Foreign Key :-
A foreign key is different from a super key, candidate key or primary key because a foreign key is the one that is used to link two tables together or create connectivity between the two.
A foreign key is the one that is used to link two tables together via the primary key. It means the columns of one table points to the primary key attribute of the other table. It further means that if any attribute is set as a primary key attribute will work in another table as a foreign key attribute. But one should know that a foreign key has nothing to do with the primary key.
The use of a foreign key is simply to link the attributes of two tables together with the help of a primary key attribute. Thus, it is used for creating and maintaining the relationship between the two relations.
Syntax of Foreign Key :-
CREATE TABLE <Table Name>( 

column1    datatype,

column2    datatype,  

constraint (name of constraint) 

FOREIGN KEY [column1, column2..] 

REFERENCES [primary key table name] (List of primary key table column) ..);

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

cursor() method :-
A cursor in SQL Server is a database object that allows us to retrieve each row at a time and manipulate its data. A cursor is nothing more than a pointer to a row. It's always used in conjunction with a SELECT statement. It is usually a collection of SQL logic that loops through a predetermined number of rows one by one. A simple illustration of the cursor is when we have an extensive database of worker's records and want to calculate each worker's salary after deducting taxes and leaves.

The SQL Server cursor's purpose is to update the data row by row, change it, or perform calculations that are not possible when we retrieve all records at once. It's also useful for performing administrative tasks like SQL Server database backups in sequential order. Cursors are mainly used in the development, DBA, and ETL processes.
To use cursors in SQL procedures, we need to do the following:
1.Declare a cursor that defines a result set.
2.Open the cursor to establish the result set.
3.Fetch the data into local variables as needed from the cursor, one row at a time.
4.Close the cursor when done
To work with cursors we must use the following SQL statements:
1.DECLARE CURSOR
2.OPEN
3.FETCH
4.CLOSE
execute() method:-
The execute () method helps us to execute the query and return records according to the query. The syntax of the execute () function is:

execute (query, args = None)
Parameters :
query: This should be a string type.
Arguments: By default, the arguments are None because sometimes we can pass only a query like a SELECT query which fetches the records and does not require any values. So that’s the reason for the args=None by default. But if we want to pass the values in the case of the INSERT query, then the type of the arguments must be a tuple, list, or dict only.
Returns:
It will return the count of the numbers of rows affected during the query.
Return Type:
The return type will be an integer (int).
Now, we are going to show some examples.

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans :- SQL queries adhere to a specific order when evaluating clauses, similar to how mathematical operations adhere to PEMDAS or BIDMAS.

From the eyes of the user, queries begin from the first clause and end at the last clause. However, queries aren’t actually read from top to bottom when carried out.

The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.